// CSS Custom Properties
:root {
  // Primary

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  // Neutral

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 400px) {
    font-size: 45%;
  }
}

body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;

  //   font-weight: 500;
  line-height: 1.8;
  color: var(--desaturated-blue);

  background-image: url(../images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--pale-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 400px) {
    font-size: 2rem;
  }
}
